.btn-copy {
  position: sticky;
  height: 12px;
  left: 96%;
  width: 32px;
  margin-left: 96%;
  cursor: pointer;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  color: #808080;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0; }

.btn-copy:hover {
  color: #000; }

pre:hover .btn-copy {
  opacity: 1; }
